streamlit
spacy
stanza
transformers
torch
pandas
matplotlib

# Installe le modèle spaCy français après l'installation
--extra-index-url https://pypi.org/simple
-f https://raw.githubusercontent.com/explosion/spacy-models/master/compatibility.json
